@import "_includes/_colors";

* {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button i {
    margin-right: 12px;
}

body {
    margin: 0;
    padding: 0;
    //width: 112%;
    width: 120%;
    overflow: hidden;
    background-color: $body-background;
    text-align: justify;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li,
.sidebar ul {
    //font-weight: 400;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.menu-label {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 98;
}

input {
    display: none;
}

input[type="text"] {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    width: 12%;
    position: relative;
    background-color: $menu-background;
    height: 100vh;
    //color: $menu-foreground;
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    z-index: 99;
}

.menu-item {
    padding: 10px 10px 10px 32px;
    line-height: 43px;
    font-weight: 500;
    //text-shadow: rgba(152, 152, 152, 0.3) 0px 0px 1px;
    font-size: 13px;
    font-weight: $semi-bold;
    position: relative;
    color: $menu-foreground;
    i {
    margin-left: 15px;
}

    a {
        display: inline-block;
        width: 80%;
    }
}

li.menu-item:before {
    width: 20px;
    content: "//";
    margin-right: 13px;
}

.submenu-item {
  position: relative;
    font-size: 13px;
    padding: 5px 5px 5px 60px;
    line-height: 30px;
    font-weight: 600;
    color: $submenu-foreground;
}

.sidebar .container {
    //width: 265px;
    box-sizing: border-box;
}

.site-container {
    position: relative;
    left: -12%;
    transition: left 0.5s;
}

.sub-menu {
    background-color: $submenu-background;
    max-height: 0;
    overflow: hidden;
    //padding: 0px;
    transition: 0.2s max-height;
}

.padding-box {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

#submenu-toggle:checked + .sub-menu {
    //padding-top: 20px;
    //padding-bottom: 20px;

    max-height: 370px;
    transition: 0.2s max-height;
}

.button-circle-animation {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5d5d5d;
    width: 100%;
    height: 100%;
    clip-path: circle(0px at 50% 50%);
    position: absolute;
    border: 0;
    //clip-path: circle(100% at 50% 50%);
}

.button-animate {
    animation-name: button-animation;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}
@keyframes button-animation {
    0% {
        clip-path: circle(6px at 50% 50%);
        opacity: 1;
    }

    40% {
        clip-path: circle(100% at 50% 50%);
        opacity: 0.4;
    }

    99% {
        clip-path: circle(100% at 50% 50%);
        opacity: 0;
    }

    100% {
        display: none;
    }
}

.btn-navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: initial;
    height: 63px;
    background-color: $btn-menu-background;
    color: $btn-menu-foreground;
    text-transform: uppercase;
    font-weight: $regular;
    font-size: 12px;
    text-shadow: rgba(255, 255, 255, 0.33) 0 0 1px;
    font-weight: 900;
    font-size: 12px;
    vertical-align: middle;
        letter-spacing: 0.85px;
}

.main-content {
    display: inline-block;
    width: calc(84% - 13px); //88%
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.index {
    display: block;
    height: 100%;
    height: 100vh;
}

header {
    width: 100vw;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40pt;
    color: white;
    text-shadow: rgba(255, 255, 255, 1) 0 0 1px;
    font-family: "Source Sans Pro";
    user-select: none;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
}

.letring {
    margin: 20px auto auto;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 10pt;
    position: relative;
    top: 0;
    width: 220px;
    letter-spacing: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    z-index: 97;

    p:first-child {
        font-weight: bold;
        font-family: "Open Sans";
        text-rendering: optimizeLegibility;
    }

    p:last-child {
        font-weight: 100;
        font-family: "Open Sans";
        text-rendering: optimizeLegibility;
    }
}
//Icons
#menu-show:checked + .site-container {
    position: relative;
    left: 0 !important;
    transition: left 0.5s;
}

.icon-menu {
    font-size: 35px;
    color: white;
    margin: 10px;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

i.icon-cross {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 6px;
}
//Slider
.slideshow {
    position: relative;
}

.slideshow-absolute-pos {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}

.slideshow-fullpage {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slideshow-medium {
    height: 300px;
    width: 100vw;
    overflow: hidden;


    .slide {
        background-size: cover;
        background-position: center;
    }
}

.slide-container {
    height: inherit;
    //width:inherit;
    //width: 3400px; //screen size * number images of the slide
    position: relative;
    left: 0;
    transition: left 0.5s;
}

.slide {
    width: 33.33%; //36.33%
    height: 100%;
    display: block;
    float: left;
    background-position: center;
    background-size: cover;
    background-position: center;
}
/*
.slide:nth-child(1) {
    background-color: red;
}

.slide:nth-child(2) {
    background-color: blue;
}

.slide:nth-child(3) {
    background-color: orange;
}*/

.slide-controller {
    position: absolute;
    bottom: 50px;
    display: block;
    color: white;
    width: 100%;
    text-align: center;

    background-color:transparent ul,
    li {
        display: inline;
    }

    li {
        width: $bullet-size;
        height: $bullet-size;
        display: inline-block;
        background-color: rgba(255,255,255,0.2);
        margin-right: 20px;
        border: 1px solid $bullet-color;
        border-radius: 100%;
        cursor: pointer;
        transition: background-color 0.5s;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.70);

    }

    li.active {
        background-color: $bullet-color;
        transition: background-color 0.5s;
    }
}

.panel-shadow {
    box-shadow: $box-shadow;
}

.panel-image {
    width: 100%;
    display: block;
    height: 200px;
    //position: absolute;
    //top: 0px;
    //left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.panel-foto {
    position: relative;
    height: 300px !important;

    a {
        background-size: cover;
    }

    h3 {
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;
        left: 0;
        line-height: 41px;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.5);
    }

    .panel-link {
        //position: absolute;
        display: block;
        background-color: transparent;
        //top: 0;
        //left: 0;
        width: 100%;
        height: 100%;
        z-index: 97;
    }
}

.panel-container {
    width: 80%;
    //border: 1px solid red;
    display: block;
    margin-left: 10%; //100-80 = 20 || 20/2 = 10 :)
    margin: auto auto 70px;
    //float:left;
}

.panel {
    min-height: 100px;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: $box-shadow;
    margin-bottom: 30px;
    background-color: $card-background;
    color: $card-text-color;
    font-weight: 300;
    letter-spacing: 0.85px;
    font-size: 14px;

    p {
        padding-bottom: 20px;
    }

    .tag p {
        padding: 0;
    }

    .tag {
        text-decoration: none;
        display: inline-block;
        background-color: $tag-background;
        color: $tag-text-color;
        padding: 10px;
        border-radius: 7px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 400;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        margin: 10px;
        letter-spacing: 1px;
    }
}

.panel-noshadow {
    box-shadow: none !important;
}

.align-center {
    text-align: center;
    margin: auto;
}

h3,
h4,
h5 {
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    letter-spacing: 0.85px;
    font-size: 28.55px;
}

.panel-contacts {
    h3,
    h4,
    h5 {
        font-size: 20px;
        color: white;
    }

    i.icon-thumbs-up {
        font-size: 62px;
        margin-bottom: 30px;
        display: block;
        color: white;
    }
}

.panel-title {
    h6,
    p {
        font-size: 14px;
        font-weight: lighter;
    }

    h6:after,
    h6:before,
    p:after,
    p:before {
        display: inline-block;
        content: "-";
        margin: 0 10px;
    }
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
    color: white;
    margin-bottom: 30px;
    line-height: 50px;
}

.panel-sharer {
    line-height: 50px;

    h5 {
        font-size: 16px;
        font-weight: 500;
    }

    .row {
        width: 100%;
    }

    .stats {
        display: inline-block;
        margin-left: 20px;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 0;

        i {
            margin-right: 10px;
            font-size: 20px;
            vertical-align: text-top;
        }
    }

    .stats:first-child {
        margin-left: 0;
    }
}

.panel-nobackground {
    background-color: transparent;
}

.panel-small {
    position: relative;
    width: 45%;
    margin-right: 10%;
    float: left;
    min-height: 250px;
    padding: 0;
    background-color: $card-background;

    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.17em;
        z-index: 97;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        line-height: 40px;
        left: 0;
        box-sizing: border-box;
        padding-left: 23px;
    }

   .panel-small-bottom {
      position: relative;
        background-color: $card-background;
        //position: absolute;
        box-sizing: border-box;
        //bottom: 0px;
        width: 100%;
        //left:0px;
        min-height: 53px;
        padding: 0px 10px;
        border-top: 2px solid $body-background;
        z-index: 99;
    }

    &:nth-child(odd) {
        margin-right: 0;
    }

    .panel-link {
      display: block;
       /* position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 97;*/
    }
}

.panel-foto h3 {
    bottom: 0;
}

.btn {
    position: relative;
    border: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    box-shadow: $box-shadow;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $card-background;
    color: $card-text-color;
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s;

    i {
        /* margin-right: 12px; */
        vertical-align: middle;
        font-size: 21px;
        vertical-align: sub;
    }
}

.btn:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.18);
    background-color: #333;
    transition: all 0.3s;
}

button:focus {
    outline: none;
}

footer {
    width: 100%;
    background-color: $footer-background-color;
    text-align: center;
    height: 150px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.85px;
    color: white;
    display: inline-block;

    i {
        font-size: 12px;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
    }

    .letring {
        margin-bottom: 20px;
    }
}
//PAGE RELATED STYLESS
.project-categories {
    .tag {
        padding: 6px;
    }
}

.index {
    .main-content {
        overflow: hidden;
    }
}

label[for="submenu-toggle"] {
    display: inline-block;
    width: 100px;
    height: inherit;
}

.btn-navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: initial;
    height: 63px;
    background-color: $btn-menu-background;
    color: $btn-menu-foreground;
    text-transform: uppercase;
    font-weight: $regular;
    font-size: 12px;
    text-shadow: rgba(255, 255, 255, 0.33) 0 0 1px;
    font-weight: 900;
    font-size: 12px;
    vertical-align: middle;
}

form {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: white;

    input[type=email],
    input[type=text] {
        box-sizing: border-box;
        display: inline-block;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid $tag-background;
        padding: 5px;
        color: white;
        margin-bottom: 30px;
        transition: border 0.2s;
    }

    input[type=email]:focus,
    input[type=text]:focus,
    textarea:focus {
        box-sizing: border-box;
        outline: none;
        border-color: #3a3a3a;
        transition: border 0.2s;
        letter-spacing: 0.85px;
    }

    input[type=email]::-webkit-input-placeholder,
    input[type=text]::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #676767;
        letter-spacing: 0.85px;
    }

    textarea {
        box-sizing: border-box;
        border: 3px solid $tag-background;
        background-color: transparent;
        border-radius: 5px;
        width: 600px;
        height: 300px;
        resize: none;
        color: white;
        padding: 10px;
        line-height: 25px;
        letter-spacing: 0.55px;
        transition: border 0.2s;
        letter-spacing: 0.85px;
    }

    label[for="mensagem"] {
        width: 600px;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
    }

    label {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
}

label[for="subject"], #subject{
  width: 600px;
}
.row {
    display: inline-block;
    vertical-align: top;
}

.col30 {
    width: 29%;
}

.col100 {
    width: 100%;
}

.col70 {
    width: 69%;
}

.video-js{
  margin: auto;
}

.project-page{
  .slideshow-medium{
    height: 75vh;
  }
}
@import "video-audio";
@import "media-queries";
