doctype html
html.project-page
  head
    include _includes/_header.jade
  body
   input(type='checkbox' id="menu-show")
   .site-container
    include _includes/_sidebar.jade
    div.main-content
      div.ui-component.slideshow.slideshow-medium.panel-shadow
        div.slide-container
          div.slide(style="background-image:url(img/bg-dummy@1700.jpg)")
          div.slide
          div.slide
        div.ui-component.slide-controller
          ul
            li 
            li(onclick="alert(1)")
            li 
      div.panel-container
        div.panel.panel-noshadow.panel-fullwidth.align-center.panel-title.panel-nobackground
          h3 Project title
          p
            i Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        div.panel
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur hendrerit purus, ut volutpat enim posuere a. Donec efficitur quam nec orci aliquam, ac fringilla ipsum vehicula. Praesent sagittis lacinia diam. Suspendisse fringilla varius diam, in rhoncus libero auctor ut. Aliquam sed justo lorem. Vivamus venenatis lacus ligula, faucibus aliquet enim malesuada at. Sed vel eros nunc. Donec erat risus, tincidunt vitae commodo vel, congue eget lectus.
          p Praesent at nulla lacinia, condimentum diam eget, mattis libero. Nullam condimentum pretium posuere. In in luctus dui. Nullam ornare scelerisque nisl nec varius. Aliquam erat volutpat. Aenean accumsan vulputate maximus. Maecenas quam mauris, mattis at neque vel, imperdiet accumsan dui. Nullam et risus et mi fringilla volutpat at et mi. In gravida cursus massa id fermentum. Donec aliquam arcu nec risus tincidunt viverra. Aenean blandit faucibus condimentum.
          p orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur hendrerit purus, ut volutpat enim posuere a. Donec efficitur quam nec orci aliquam, ac fringilla ipsum vehicula. Praesent sagittis lacinia diam. Suspendisse fringilla varius diam, in rhoncus libero auctor ut. Aliquam sed justo lorem. Vivamus venenatis lacus ligula, faucibus aliquet enim malesuada at. Sed vel eros nunc. Donec erat risus, tincidunt vitae commodo vel, congue eget lectus.
          p Praesent at nulla lacinia, condimentum diam eget, mattis libero. Nullam condimentum pretium posuere. In in luctus dui. Nullam ornare scelerisque nisl nec varius. Aliquam erat volutpat. Aenean accumsan vulputate maximus. Maecenas quam mauris, mattis at neque vel, imperdiet accumsan dui. Nullam et risus et mi fringilla volutpat at et mi. In gravida cursus massa id fermentum. Donec aliquam arcu nec risus tincidunt viverra. Aenean blandit faucibus condimentum.
        div.panel
          div.tag
            p html
          div.tag
            p CSS
          div.tag
            p Web Design
          div.tag
            p Web Development
        div.panel.panel-noshadow.panel-nobackground
          button.ui-compoment.btn.btn-simple.align-center
            i.social-github
            | Vê me no Github

        div.panel.panel-sharer.align-center
          div.row
            div.col100
              h5 Quantos likes pode este projeto ter
          div.row
            div.col100
              p.stats
                i.icon-eye
                | 230
              p.stats
                i.icon-thumbs-up
                | 230
              p.stats
                i.icon-share
                | 230

      include _includes/_footer.jade
