doctype html
html.project-categories
  head
    include _includes/_header.jade
  body
    input(type='checkbox' id="menu-show")
    .site-container
      include _includes/_sidebar.jade
      div.main-content
        div.ui-component.slideshow.slideshow-medium
          div.slide
          div.slide
          div.slide
        div.panel-container
          div.panel.panel-noshadow.panel-fullwidth.align-center
            h3 Project title
            p
              i Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
          div.panel.panel-project
            h3 Maasai
            div.panel-project-bottom
              div.tag
                p branding
          div.panel.panel-project
            h3 Maasai 
            div.panel-project-bottom
              div.tag
                p branding

          div.panel.panel-project
            h3 Maasai
            div.panel-project-bottom
              div.tag
                p branding


            div.panel.panel-project
              h3 Maasai
              div.panel-project-bottom
                div.tag
                  p branding

            div.panel.panel-project
              h3 Maasai
              div.panel-project-bottom
                div.tag
                  p branding

          include _includes/_footer.jade
